<!doctype html>
<html lang="en">
  <head>
    <title>freestyle</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <br><br>
          <b>PLEASE RETURN FAX WITH RECENT OFFICE NOTES AND MEDICATION LIST </b></div>

        <div class="col-md-4"><img src="https://www.w3schools.com/images/w3schools_green.jpg"/></div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <span class="med">Medicare Detailed Written Order</span>
          <ol style="font-weight: 600; font-size: small;">
            <br>
            <li>Complete all fields on this Detailed Written Order</li>
            <li>Use the Noridian November 2017 Physician Resource Letter (Continuous Glucose Monitors) to<br>
              confirm coverage criteria and medical necessity documentation requirements are met.</li>
            <li>Fax both this order and the patient’s most recent medical records that demonstrate coverage criteria
              <br>are met to a DME supplier that provides the Free Style Libre 14 day system.
              </li>

          </ol>
        </div>
        <div class="col-md-4"> <b class="med">Return Fax:</b></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="med">Patient Information </span><br><br>
          <span><b>Patient Name:</b>  {{name}}  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span><span>Date of Birth: {{dob}}</span><br>
          <span>Phone: {{phone}} Email: {{email}}</span><br>
          <span>Address: {{address}}       City: {{city}} State: {{state}} Zip: {{zip}}</span><br>
          <span>Primary Insurance: ___________________________________ Primary Insurance Member ID: ____________________________________</span><br>
          <span>Secondary Insurance: ________________________________________ Secondary Insurance Member ID: _________________________</span><br>
          <span>Notes: -__________________________________________________________________________________</span><br><br>
          <b>___________________________________________________________________________________________________________________________________</b><br><br>

          <span class="med">Physician Information </span><br><br>
          <span>Physician Name: _______________________________________________________ Phone: __________________________________</span><br>
          <span>NPI: _________________________________________ Fax: -_________________________________________________</span><br>
          <span>Address: ___________________________________________ City: ______________ State: ___________ Zip: ____________________</span><br><br>

          <b class="med1">Order Detail</b><br><br>
          <b class="med1">Order Date </b> <span class="med"> __ /__ /____</span>
        </div>

      </div><br>
      <div class="row">
        <div class="col-md-12">
          <table style="width:80%">
            <tr>
              <th>K0554 (Free Style Libre 14 day Reader)</th>
              <th>K0553 (Free Style Libre 14 day Sensors)</th>

            </tr>
            <tr>
              <td>1 Reader/1095 Days <br>Length of Need: Lifetime-unless specified otherwise:</td>
              <td>1 Unit/30 Days (1 Unit = 1 month of sensors and supplies)<br>Length of Need: Lifetime-unless specified otherwise:  </td>

            </tr>

            <tr>
              <td>____________________________________________________________________</td>
              <td>____________________________________________________________________</td>

            </tr>
          </table>

          <input type="checkbox" name="checkbox" value="Mycheckbox">
          <br> <span class="med">Diagnosis (ICD10):</span><br><br>
          </div>
        </div>


        <div class="row">

          <div class="col-md-2">
            <input type="checkbox" name="check" value="check">
            <label for="check"> E10.9</label></div>
          <div class="col-md-2">
            <input type="checkbox"name="check" value="check">
            <label for="check"> E11.65</label></div>
          <div class="col-md-2">
            <input type="checkbox" name="check" value="check">
            <label for="check"> E10.65</label></div>
          <div class="col-md-2">
            <input type="checkbox" name="check" value="check">
            <label for="check"> E11.8</label></div>
          <div class="col-md-2">
            <input type="checkbox" name="check" value="check">
            <label for="check"> E11.9</label></div>
            <div class="col-md-2">
              <input type="checkbox" name="check" value="check">
              <label for="check"> Other: ___________</label></div><br>
        </div>

        <div class="row">

          <div class="col-md-12">
           <span class="med">Prescribed Number of Glucose Tests Per Day:</span>     __________<br><br>
           <span class="med">Current Insulin Regimen:</span><br>

          </div>
        </div>

        <div class="row">

          <div class="col-md-3">
            <input type="checkbox" name="check" value="check">
            <label for="check"> Insulin Pump</label></div>
          <div class="col-md-6">
            <input type="checkbox"name="check" value="check">
            <label for="check"> Multiple Daily Injections-Number Per Day:____________</label></div>
          <div class="col-md-2">
              <input type="checkbox" name="check" value="check">
              <label for="check"> Other: ___________</label></div><br><br>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b class="facesheet">I certify that I am the physician identified in the “Physician Information” section above and hereby attest that the medical necessity<br>
              information is true, accurate, and complete to the best of my knowledge. I understand that any falsification, omission, or concealment of<br>
              material fact may subject me to administrative, civil, or criminal liability. The patient/caregiver is capable and has successfully<br>
              completed or will be trained on the proper use of the products prescribed on this order.<br>
            </b>
            <br>
            <b>Physician Signature: _______________________________________________________ Date: __________________________________</b><br><br>

            <b class="facesheet">It is ultimately the responsibility of the healthcare professional/persons associated with the patient’s care to determine and document the appropriate<br>
              diagnosis (es) and code(s) for the patient’s condition. Abbott does not guarantee that the use of any information provided in this form will result in<br>
              coverage or payment by any third-party payer. Each healthcare provider is ultimately responsible for verifying codes, coverage, and payment policies<br>
              used to ensure that they are accurate for the services and items provided.<br>
              See reverse for Indications and Important Safety Information.
            </b>
          </div>
        </div>
        <br><br>
        <a href="./index.html"> <button class="btn btn-success">Previous Page</button></a><br><br><br>



    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>